<p style="text-align:center">
    <a href="https://skills.network" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo">
    </a>
</p>


# Exploring and pre-processing a dataset using Pandas 


Estimated time needed: **30** minutes
    

## Objectives

After completing this lab you will be able to:

* Explore the dataset
* Pre-process dataset as required (may be for visualization)

## Introduction

The aim of this lab is to provide you a refresher on the **Pandas** library, so that you can pre-process and anlyse the datasets before applying data visualization techniques on it. This lab will work as acrash course on *pandas*. if you are interested in learning more about the *pandas* library, detailed description and explanation of how to use it and how to clean, munge, and process data stored in a *pandas* dataframe are provided in other IBM courses.

------------

## Table of Contents

<div class="alert alert-block alert-info" style="margin-top: 20px">

1. [Exploring Datasets with *pandas*](#0)<br>
2. [The Dataset: Immigration to Canada from 1980 to 2013](#1)<br>
3. [*pandas* Basics](#2) <br>
4. [*pandas* Intermediate: Indexing and Selection](#3) <br>
5. [*pandas* Filtering based on a criteria](#4)<br>
6. [*pandas* Sorting Values](#5)

</div>

# Exploring Datasets with *pandas* <a id="0"></a>

*pandas* is an essential data analysis toolkit for Python. From their [website](http://pandas.pydata.org/):
>*pandas* is a Python package providing fast, flexible, and expressive data structures designed to make working with “relational” or “labeled” data both easy and intuitive. It aims to be the fundamental high-level building block for doing practical, **real world** data analysis in Python.

The course heavily relies on *pandas* for data wrangling, analysis, and visualization. We encourage you to spend some time and familiarize yourself with the *pandas* API Reference: http://pandas.pydata.org/pandas-docs/stable/api.html.

## The Dataset: Immigration to Canada from 1980 to 2013 <a id="1"></a>

Dataset Source: [International migration flows to and from selected countries - The 2015 revision](https://www.un.org/development/desa/pd/data/international-migration-flows).

The dataset contains annual data on the flows of international immigrants as recorded by the countries of destination. The data presents both inflows and outflows according to the place of birth, citizenship or place of previous / next residence both for foreigners and nationals. The current version presents data pertaining to 45 countries.

In this lab, we will focus on the Canadian immigration data.

![Data Preview](https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DV0101EN-SkillsNetwork/labs/Module%201/images/DataSnapshot.png)

 The Canada Immigration dataset can be fetched from <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DV0101EN-SkillsNetwork/Data%20Files/Canada.xlsx">here</a>.

---

## *pandas* Basics<a id="2"></a>

The first thing we'll do is install **openpyxl** (formerly **xlrd**), a module that *pandas* requires to read Excel files.

In [1]:
!mamba install openpyxl==3.0.9 -y

zsh:1: command not found: mamba

Next, we'll do is import two key data analysis modules: *pandas* and *numpy*.

In [2]:
import numpy as np  # useful for many scientific computing in Python
import pandas as pd # primary data structure library

Let's download and import our primary Canadian Immigration dataset using *pandas*'s `read_excel()` method.

In [3]:
df_can = pd.read_excel(
    'https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DV0101EN-SkillsNetwork/Data%20Files/Canada.xlsx',
    sheet_name='Canada by Citizenship',
    skiprows=range(20),
    skipfooter=2)

print('Data read into a pandas dataframe!')

Data read into a pandas dataframe!

Let's view the top 5 rows of the dataset using the `head()` function.

In [4]:
df_can.head()
# tip: You can specify the number of rows you'd like to see as follows: df_can.head(10)

,Type,Coverage,OdName,AREA,AreaName,REG,RegName,DEV,DevName,1980,...,2012,2013,Unnamed: 43,Unnamed: 44,Unnamed: 45,Unnamed: 46,Unnamed: 47,Unnamed: 48,Unnamed: 49,Unnamed: 50
0,Immigrants,Foreigners,Afghanistan,935,Asia,5501,Southern Asia,902,Developing regions,16,...,2635,2004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Immigrants,Foreigners,Albania,908,Europe,925,Southern Europe,901,Developed regions,1,...,620,603,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Immigrants,Foreigners,Algeria,903,Africa,912,Northern Africa,902,Developing regions,80,...,3774,4331,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Immigrants,Foreigners,American Samoa,909,Oceania,957,Polynesia,902,Developing regions,0,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Immigrants,Foreigners,Andorra,908,Europe,925,Southern Europe,901,Developed regions,0,...,1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

We can also view the bottom 5 rows of the dataset using the `tail()` function.

In [5]:
df_can.tail()

,Type,Coverage,OdName,AREA,AreaName,REG,RegName,DEV,DevName,1980,...,2012,2013,Unnamed: 43,Unnamed: 44,Unnamed: 45,Unnamed: 46,Unnamed: 47,Unnamed: 48,Unnamed: 49,Unnamed: 50
190,Immigrants,Foreigners,Viet Nam,935,Asia,920,South-Eastern Asia,902,Developing regions,1191,...,1731,2112,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
191,Immigrants,Foreigners,Western Sahara,903,Africa,912,Northern Africa,902,Developing regions,0,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
192,Immigrants,Foreigners,Yemen,935,Asia,922,Western Asia,902,Developing regions,1,...,174,217,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
193,Immigrants,Foreigners,Zambia,903,Africa,910,Eastern Africa,902,Developing regions,11,...,46,59,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
194,Immigrants,Foreigners,Zimbabwe,903,Africa,910,Eastern Africa,902,Developing regions,72,...,437,407,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

When analyzing a dataset, it's always a good idea to start by getting basic information about your dataframe. We can do this by using the `info()` method.

This method can be used to get a short summary of the dataframe.

In [35]:
df_can.info(verbose=False)

<class 'pandas.core.frame.DataFrame'>
Index: 195 entries, Afghanistan to Zimbabwe
Columns: 46 entries, Continent to Total
dtypes: float64(9), int64(34), object(3)
memory usage: 75.7+ KB

To get the list of column headers we can call upon the data frame's `columns` instance variable.

In [36]:
df_can.columns

Index([  'Continent',      'Region',     'DevName',          1980,
                1981,          1982,          1983,          1984,
                1985,          1986,          1987,          1988,
                1989,          1990,          1991,          1992,
                1993,          1994,          1995,          1996,
                1997,          1998,          1999,          2000,
                2001,          2002,          2003,          2004,
                2005,          2006,          2007,          2008,
                2009,          2010,          2011,          2012,
                2013, 'Unnamed: 43', 'Unnamed: 44', 'Unnamed: 45',
       'Unnamed: 46', 'Unnamed: 47', 'Unnamed: 48', 'Unnamed: 49',
       'Unnamed: 50',       'Total'],
      dtype='object')

Similarly, to get the list of indices we use the `.index` instance variables.

In [37]:
df_can.index

Index(['Afghanistan', 'Albania', 'Algeria', 'American Samoa', 'Andorra',
       'Angola', 'Antigua and Barbuda', 'Argentina', 'Armenia', 'Australia',
       ...
       'United States of America', 'Uruguay', 'Uzbekistan', 'Vanuatu',
       'Venezuela (Bolivarian Republic of)', 'Viet Nam', 'Western Sahara',
       'Yemen', 'Zambia', 'Zimbabwe'],
      dtype='object', length=195)

Note: The default type of intance variables `index` and `columns` are **NOT** `list`.

In [38]:
print(type(df_can.columns))
print(type(df_can.index))

<class 'pandas.core.indexes.base.Index'>
<class 'pandas.core.indexes.base.Index'>

To get the index and columns as lists, we can use the `tolist()` method.

In [39]:
df_can.columns.tolist()

['Continent',
 'Region',
 'DevName',
 1980,
 1981,
 1982,
 1983,
 1984,
 1985,
 1986,
 1987,
 1988,
 1989,
 1990,
 1991,
 1992,
 1993,
 1994,
 1995,
 1996,
 1997,
 1998,
 1999,
 2000,
 2001,
 2002,
 2003,
 2004,
 2005,
 2006,
 2007,
 2008,
 2009,
 2010,
 2011,
 2012,
 2013,
 'Unnamed: 43',
 'Unnamed: 44',
 'Unnamed: 45',
 'Unnamed: 46',
 'Unnamed: 47',
 'Unnamed: 48',
 'Unnamed: 49',
 'Unnamed: 50',
 'Total']

In [40]:
df_can.index.tolist()

['Afghanistan',
 'Albania',
 'Algeria',
 'American Samoa',
 'Andorra',
 'Angola',
 'Antigua and Barbuda',
 'Argentina',
 'Armenia',
 'Australia',
 'Austria',
 'Azerbaijan',
 'Bahamas',
 'Bahrain',
 'Bangladesh',
 'Barbados',
 'Belarus',
 'Belgium',
 'Belize',
 'Benin',
 'Bhutan',
 'Bolivia (Plurinational State of)',
 'Bosnia and Herzegovina',
 'Botswana',
 'Brazil',
 'Brunei Darussalam',
 'Bulgaria',
 'Burkina Faso',
 'Burundi',
 'Cabo Verde',
 'Cambodia',
 'Cameroon',
 'Canada',
 'Central African Republic',
 'Chad',
 'Chile',
 'China',
 'China, Hong Kong Special Administrative Region',
 'China, Macao Special Administrative Region',
 'Colombia',
 'Comoros',
 'Congo',
 'Costa Rica',
 "Côte d'Ivoire",
 'Croatia',
 'Cuba',
 'Cyprus',
 'Czech Republic',
 "Democratic People's Republic of Korea",
 'Democratic Republic of the Congo',
 'Denmark',
 'Djibouti',
 'Dominica',
 'Dominican Republic',
 'Ecuador',
 'Egypt',
 'El Salvador',
 'Equatorial Guinea',
 'Eritrea',
 'Estonia',
 'Ethiopia',
 'Fiji',
 'Finland',
 'France',
 'Gabon',
 'Gambia',
 'Georgia',
 'Germany',
 'Ghana',
 'Greece',
 'Grenada',
 'Guatemala',
 'Guinea',
 'Guinea-Bissau',
 'Guyana',
 'Haiti',
 'Honduras',
 'Hungary',
 'Iceland',
 'India',
 'Indonesia',
 'Iran (Islamic Republic of)',
 'Iraq',
 'Ireland',
 'Israel',
 'Italy',
 'Jamaica',
 'Japan',
 'Jordan',
 'Kazakhstan',
 'Kenya',
 'Kiribati',
 'Kuwait',
 'Kyrgyzstan',
 "Lao People's Democratic Republic",
 'Latvia',
 'Lebanon',
 'Lesotho',
 'Liberia',
 'Libya',
 'Liechtenstein',
 'Lithuania',
 'Luxembourg',
 'Madagascar',
 'Malawi',
 'Malaysia',
 'Maldives',
 'Mali',
 'Malta',
 'Marshall Islands',
 'Mauritania',
 'Mauritius',
 'Mexico',
 'Monaco',
 'Mongolia',
 'Montenegro',
 'Morocco',
 'Mozambique',
 'Myanmar',
 'Namibia',
 'Nauru',
 'Nepal',
 'Netherlands',
 'New Caledonia',
 'New Zealand',
 'Nicaragua',
 'Niger',
 'Nigeria',
 'Norway',
 'Oman',
 'Pakistan',
 'Palau',
 'Panama',
 'Papua New Guinea',
 'Paraguay',
 'Peru',
 'Philippines',
 'Poland',
 'Portugal',
 'Qatar',
 'Republic of Korea',
 'Republic of Moldova',
 'Romania',
 'Russian Federation',
 'Rwanda',
 'Saint Kitts and Nevis',
 'Saint Lucia',
 'Saint Vincent and the Grenadines',
 'Samoa',
 'San Marino',
 'Sao Tome and Principe',
 'Saudi Arabia',
 'Senegal',
 'Serbia',
 'Seychelles',
 'Sierra Leone',
 'Singapore',
 'Slovakia',
 'Slovenia',
 'Somalia',
 'South Africa',
 'Spain',
 'Sri Lanka',
 'State of Palestine',
 'Sudan',
 'Suriname',
 'Swaziland',
 'Sweden',
 'Switzerland',
 'Syrian Arab Republic',
 'Tajikistan',
 'Thailand',
 'The former Yugoslav Republic of Macedonia',
 'Togo',
 'Tonga',
 'Trinidad and Tobago',
 'Tunisia',
 'Turkey',
 'Turkmenistan',
 'Tuvalu',
 'Uganda',
 'Ukraine',
 'United Arab Emirates',
 'United Kingdom of Great Britain and Northern Ireland',
 'United Republic of Tanzania',
 'United States of America',
 'Uruguay',
 'Uzbekistan',
 'Vanuatu',
 'Venezuela (Bolivarian Republic of)',
 'Viet Nam',
 'Western Sahara',
 'Yemen',
 'Zambia',
 'Zimbabwe']

In [41]:
print(type(df_can.columns.tolist()))
print(type(df_can.index.tolist()))

<class 'list'>
<class 'list'>

To view the dimensions of the dataframe, we use the `shape` instance variable of it.

In [42]:
# size of dataframe (rows, columns)
df_can.shape

(195, 46)

**Note**: The main types stored in *pandas* objects are `float`, `int`, `bool`, `datetime64[ns]`, `datetime64[ns, tz]`, `timedelta[ns]`, `category`, and `object` (string). In addition, these dtypes have item sizes, e.g. `int64` and `int32`.

Let's clean the data set to remove a few unnecessary columns. We can use *pandas* `drop()` method as follows:

In [43]:
# in pandas axis=0 represents rows (default) and axis=1 represents columns.
df_can.drop(['AREA','REG','DEV','Type','Coverage'], axis=1, inplace=True)
df_can.head(2)

KeyError: "['AREA' 'REG' 'DEV' 'Type' 'Coverage'] not found in axis"

Let's rename the columns so that they make sense. We can use `rename()` method by passing in a dictionary of old and new names as follows:

In [44]:
df_can.rename(columns={'OdName':'Country', 'AreaName':'Continent', 'RegName':'Region'}, inplace=True)
df_can.columns

Index([  'Continent',      'Region',     'DevName',          1980,
                1981,          1982,          1983,          1984,
                1985,          1986,          1987,          1988,
                1989,          1990,          1991,          1992,
                1993,          1994,          1995,          1996,
                1997,          1998,          1999,          2000,
                2001,          2002,          2003,          2004,
                2005,          2006,          2007,          2008,
                2009,          2010,          2011,          2012,
                2013, 'Unnamed: 43', 'Unnamed: 44', 'Unnamed: 45',
       'Unnamed: 46', 'Unnamed: 47', 'Unnamed: 48', 'Unnamed: 49',
       'Unnamed: 50',       'Total'],
      dtype='object')

We will also add a 'Total' column that sums up the total immigrants by country over the entire period 1980 - 2013, as follows:

In [45]:
df_can['Total'] = df_can.sum(axis=1)
df_can['Total']

Afghanistan       175917.0
Albania            47097.0
Algeria           208317.0
American Samoa        18.0
Andorra               45.0
                    ...
Viet Nam          291438.0
Western Sahara         6.0
Yemen               8955.0
Zambia              5031.0
Zimbabwe           25794.0
Name: Total, Length: 195, dtype: float64

We can check to see how many null objects we have in the dataset as follows:

In [46]:
df_can.isnull().sum()

Continent        0
Region           0
DevName          0
1980             0
1981             0
1982             0
1983             0
1984             0
1985             0
1986             0
1987             0
1988             0
1989             0
1990             0
1991             0
1992             0
1993             0
1994             0
1995             0
1996             0
1997             0
1998             0
1999             0
2000             0
2001             0
2002             0
2003             0
2004             0
2005             0
2006             0
2007             0
2008             0
2009             0
2010             0
2011             0
2012             0
2013             0
Unnamed: 43    195
Unnamed: 44    195
Unnamed: 45    195
Unnamed: 46    195
Unnamed: 47    195
Unnamed: 48    195
Unnamed: 49    195
Unnamed: 50    195
Total            0
dtype: int64

Finally, let's view a quick summary of each column in our dataframe using the `describe()` method.

In [47]:
df_can.describe()

,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,...,2013,Unnamed: 43,Unnamed: 44,Unnamed: 45,Unnamed: 46,Unnamed: 47,Unnamed: 48,Unnamed: 49,Unnamed: 50,Total
count,195.000000,195.000000,195.000000,195.000000,195.000000,195.000000,195.000000,195.000000,195.000000,195.000000,...,195.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.950000e+02
mean,508.394872,566.989744,534.723077,387.435897,376.497436,358.861538,441.271795,691.133333,714.389744,843.241026,...,1320.702564,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.860235e+04
std,1949.588546,2152.643752,1866.997511,1204.333597,1198.246371,1079.309600,1225.576630,2109.205607,2443.606788,2555.048874,...,4237.951988,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.753565e+05
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.000000e+00
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.500000,0.500000,1.000000,1.000000,...,45.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.856000e+03
50%,13.000000,10.000000,11.000000,12.000000,13.000000,17.000000,18.000000,26.000000,34.000000,44.000000,...,213.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.505400e+04
75%,251.500000,295.500000,275.000000,173.000000,181.000000,197.000000,254.000000,434.000000,409.000000,508.500000,...,796.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.671850e+04
max,22045.000000,24796.000000,20620.000000,10015.000000,10170.000000,9564.000000,9470.000000,21337.000000,27359.000000,23795.000000,...,34129.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.075712e+06

---
## *pandas* Intermediate: Indexing and Selection (slicing)<a id="3"></a>

### Select Column
**There are two ways to filter on a column name:**

Method 1: Quick and easy, but only works if the column name does NOT have spaces or special characters.
```python
    df.column_name               # returns series
```

Method 2: More robust, and can filter on multiple columns.

```python
    df['column']                  # returns series
```

```python 
    df[['column 1', 'column 2']]  # returns dataframe
```
---

Example: Let's try filtering on the list of countries ('Country').

In [48]:
df_can.Country  # returns a series

AttributeError: 'DataFrame' object has no attribute 'Country'

Let's try filtering on the list of countries ('Country') and the data for years: 1980 - 1985.

In [49]:
df_can[['Country', 1980, 1981, 1982, 1983, 1984, 1985]] # returns a dataframe
# notice that 'Country' is string, and the years are integers. 
# for the sake of consistency, we will convert all column names to string later on.

KeyError: "['Country'] not in index"

### Select Row

There are main 2 ways to select rows:

```python
    df.loc[label]    # filters by the labels of the index/column
    df.iloc[index]   # filters by the positions of the index/column
```

Before we proceed, notice that the default index of the dataset is a numeric range from 0 to 194. This makes it very difficult to do a query by a specific country. For example to search for data on Japan, we need to know the corresponding index value.

This can be fixed very easily by setting the 'Country' column as the index using `set_index()` method.

In [50]:
df_can.set_index('Country', inplace=True)

# tip: The opposite of set is reset. So to reset the index, we can use df_can.reset_index()

KeyError: "None of ['Country'] are in the columns"

In [51]:
df_can.head(3)

,Continent,Region,DevName,1980,1981,1982,1983,1984,1985,1986,...,2013,Unnamed: 43,Unnamed: 44,Unnamed: 45,Unnamed: 46,Unnamed: 47,Unnamed: 48,Unnamed: 49,Unnamed: 50,Total
Afghanistan,Asia,Southern Asia,Developing regions,16,39,39,47,71,340,496,...,2004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,175917.0
Albania,Europe,Southern Europe,Developed regions,1,0,0,0,0,0,1,...,603,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,47097.0
Algeria,Africa,Northern Africa,Developing regions,80,67,71,69,63,44,69,...,4331,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,208317.0

In [52]:
# optional: to remove the name of the index
df_can.index.name = None

Example: Let's view the number of immigrants from Japan (row 87) for the following scenarios:
    1. The full row data (all columns)
    2. For year 2013
    3. For years 1980 to 1985

In [53]:
# 1. the full row data (all columns)
df_can.loc['Japan']

Continent                   Asia
Region              Eastern Asia
DevName        Developed regions
1980                         701
1981                         756
1982                         598
1983                         309
1984                         246
1985                         198
1986                         248
1987                         422
1988                         324
1989                         494
1990                         379
1991                         506
1992                         605
1993                         907
1994                         956
1995                         826
1996                         994
1997                         924
1998                         897
1999                        1083
2000                        1010
2001                        1092
2002                         806
2003                         817
2004                         973
2005                        1067
2006                        1212
2007                        1250
2008                        1284
2009                        1194
2010                        1168
2011                        1265
2012                        1214
2013                         982
Unnamed: 43                  NaN
Unnamed: 44                  NaN
Unnamed: 45                  NaN
Unnamed: 46                  NaN
Unnamed: 47                  NaN
Unnamed: 48                  NaN
Unnamed: 49                  NaN
Unnamed: 50                  NaN
Total                    83121.0
Name: Japan, dtype: object

In [54]:
# alternate methods
df_can.iloc[87]

Continent                   Asia
Region              Eastern Asia
DevName        Developed regions
1980                         701
1981                         756
1982                         598
1983                         309
1984                         246
1985                         198
1986                         248
1987                         422
1988                         324
1989                         494
1990                         379
1991                         506
1992                         605
1993                         907
1994                         956
1995                         826
1996                         994
1997                         924
1998                         897
1999                        1083
2000                        1010
2001                        1092
2002                         806
2003                         817
2004                         973
2005                        1067
2006                        1212
2007                        1250
2008                        1284
2009                        1194
2010                        1168
2011                        1265
2012                        1214
2013                         982
Unnamed: 43                  NaN
Unnamed: 44                  NaN
Unnamed: 45                  NaN
Unnamed: 46                  NaN
Unnamed: 47                  NaN
Unnamed: 48                  NaN
Unnamed: 49                  NaN
Unnamed: 50                  NaN
Total                    83121.0
Name: Japan, dtype: object

In [55]:
df_can[df_can.index == 'Japan']

,Continent,Region,DevName,1980,1981,1982,1983,1984,1985,1986,...,2013,Unnamed: 43,Unnamed: 44,Unnamed: 45,Unnamed: 46,Unnamed: 47,Unnamed: 48,Unnamed: 49,Unnamed: 50,Total
Japan,Asia,Eastern Asia,Developed regions,701,756,598,309,246,198,248,...,982,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,83121.0

In [56]:
# 2. for year 2013
df_can.loc['Japan', 2013]

982

In [57]:
# alternate method
# year 2013 is the last column, with a positional index of 36
df_can.iloc[87, 36]

982

In [58]:
# 3. for years 1980 to 1985
df_can.loc['Japan', [1980, 1981, 1982, 1983, 1984, 1984]]

1980    701
1981    756
1982    598
1983    309
1984    246
1984    246
Name: Japan, dtype: object

In [59]:
# Alternative Method
df_can.iloc[87, [3, 4, 5, 6, 7, 8]]

1980    701
1981    756
1982    598
1983    309
1984    246
1985    198
Name: Japan, dtype: object

**Exercise:** Let's view the number of immigrants from **Haiti** for the following scenarios: <br>1. The full row data (all columns) <br>2. For year 2000 <br>3. For years 1990 to 1995

In [60]:
df_can.loc['Haiti']
df_can.loc['Haiti', 2000]
df_can.loc['Haiti', [1990, 1991, 1992, 1993, 1994, 1995]]

1990    2379
1991    2829
1992    2399
1993    3655
1994    2100
1995    2014
Name: Haiti, dtype: object

<details><summary>Click here for a sample python solution</summary>

```python
   # 1. the full row data (all columns)
    df_can.loc['Haiti']
    #or
    df_can[df_can.index == 'Haiti']

    # 2. for year 2000
    df_can.loc['Haiti', 2000]
           
    #  3. for years 1990 to 1995
    df_can.loc['Haiti', [1990, 1991, 1992, 1993, 1994, 1995]]
 ```

</details>

Column names that are integers (such as the years) might introduce some confusion. For example, when we are referencing the year 2013, one might confuse that when the 2013th positional index. 

To avoid this ambuigity, let's convert the column names into strings: '1980' to '2013'.

In [61]:
df_can.columns = list(map(str, df_can.columns))
# [print (type(x)) for x in df_can.columns.values] #<-- uncomment to check type of column headers

Since we converted the years to string, let's declare a variable that will allow us to easily call upon the full range of years:

In [62]:
# useful for plotting later on
years = list(map(str, range(1980, 2014)))
years

['1980',
 '1981',
 '1982',
 '1983',
 '1984',
 '1985',
 '1986',
 '1987',
 '1988',
 '1989',
 '1990',
 '1991',
 '1992',
 '1993',
 '1994',
 '1995',
 '1996',
 '1997',
 '1998',
 '1999',
 '2000',
 '2001',
 '2002',
 '2003',
 '2004',
 '2005',
 '2006',
 '2007',
 '2008',
 '2009',
 '2010',
 '2011',
 '2012',
 '2013']

**Exercise:** Create a list named 'year' using map function for years ranging from 1990 to 2013. <br>Then extract the data series from the dataframe df_can for Haiti using year list.

In [64]:
year = list(map(str, range(1990, 2014)))
haiti = df_can.loc['Haiti', year]
print(haiti)

1990    2379
1991    2829
1992    2399
1993    3655
1994    2100
1995    2014
1996    1955
1997    1645
1998    1295
1999    1439
2000    1631
2001    2433
2002    2174
2003    1930
2004    1652
2005    1682
2006    1619
2007    1598
2008    2491
2009    2080
2010    4744
2011    6503
2012    5868
2013    4152
Name: Haiti, dtype: object

<details><summary>Click here for a sample python solution</summary>

```python
    #The correct answer is:
    year = list(map(str, range(1990, 2014)))
    haiti = df_can.loc['Haiti', year] # passing in years 1990 - 2013
    
```
</details>

### Filtering based on a criteria <a id="4"></a>
To filter the dataframe based on a condition, we simply pass the condition as a boolean vector. 

For example, Let's filter the dataframe to show the data on Asian countries (AreaName = Asia).

In [65]:
# 1. create the condition boolean series
condition = df_can['Continent'] == 'Asia'
print(condition)

Afghanistan        True
Albania           False
Algeria           False
American Samoa    False
Andorra           False
                  ...
Viet Nam           True
Western Sahara    False
Yemen              True
Zambia            False
Zimbabwe          False
Name: Continent, Length: 195, dtype: bool

In [66]:
# 2. pass this condition into the dataFrame
df_can[condition]

,Continent,Region,DevName,1980,1981,1982,1983,1984,1985,1986,...,2013,Unnamed: 43,Unnamed: 44,Unnamed: 45,Unnamed: 46,Unnamed: 47,Unnamed: 48,Unnamed: 49,Unnamed: 50,Total
Afghanistan,Asia,Southern Asia,Developing regions,16,39,39,47,71,340,496,...,2004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,175917.0
Armenia,Asia,Western Asia,Developing regions,0,0,0,0,0,0,0,...,207,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9930.0
Azerbaijan,Asia,Western Asia,Developing regions,0,0,0,0,0,0,0,...,57,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7947.0
Bahrain,Asia,Western Asia,Developing regions,0,2,1,1,1,3,0,...,32,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1425.0
Bangladesh,Asia,Southern Asia,Developing regions,83,84,86,81,98,92,486,...,3789,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,196704.0
Bhutan,Asia,Southern Asia,Developing regions,0,0,0,0,1,0,0,...,487,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17628.0
Brunei Darussalam,Asia,South-Eastern Asia,Developing regions,79,6,8,2,2,4,12,...,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1800.0
Cambodia,Asia,South-Eastern Asia,Developing regions,12,19,26,33,10,7,8,...,288,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19614.0
China,Asia,Eastern Asia,Developing regions,5123,6682,3308,1863,1527,1816,1960,...,34129,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1979886.0
"China, Hong Kong Special Administrative Region",Asia,Eastern Asia,Developing regions,0,0,0,0,0,0,0,...,774,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,27981.0
"China, Macao Special Administrative Region",Asia,Eastern Asia,Developing regions,0,0,0,0,0,0,0,...,29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,852.0
Cyprus,Asia,Western Asia,Developing regions,132,128,84,46,46,43,48,...,16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3378.0
Democratic People's Republic of Korea,Asia,Eastern Asia,Developing regions,1,1,3,1,4,3,0,...,17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1164.0
Georgia,Asia,Western Asia,Developing regions,0,0,0,0,0,0,0,...,125,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6204.0
India,Asia,Southern Asia,Developing regions,8880,8670,8147,7338,5704,4211,7150,...,33087,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2075712.0
Indonesia,Asia,South-Eastern Asia,Developing regions,186,178,252,115,123,100,127,...,387,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,39450.0
Iran (Islamic Republic of),Asia,Southern Asia,Developing regions,1172,1429,1822,1592,1977,1648,1794,...,11291,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,527769.0
Iraq,Asia,Western Asia,Developing regions,262,245,260,380,428,231,265,...,4918,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,209367.0
Israel,Asia,Western Asia,Developing regions,1403,1711,1334,541,446,680,1212,...,1945,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,199524.0
Japan,Asia,Eastern Asia,Developed regions,701,756,598,309,246,198,248,...,982,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,83121.0
Jordan,Asia,Western Asia,Developing regions,177,160,155,113,102,179,181,...,1255,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,106218.0
Kazakhstan,Asia,Central Asia,Developing regions,0,0,0,0,0,0,0,...,348,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,25470.0
Kuwait,Asia,Western Asia,Developing regions,1,0,8,2,1,4,4,...,48,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6075.0
Kyrgyzstan,Asia,Central Asia,Developing regions,0,0,0,0,0,0,0,...,123,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7059.0
Lao People's Democratic Republic,Asia,South-Eastern Asia,Developing regions,11,6,16,16,7,17,21,...,15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3267.0
Lebanon,Asia,Western Asia,Developing regions,1409,1119,1159,789,1253,1683,2576,...,2172,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,346077.0
Malaysia,Asia,South-Eastern Asia,Developing regions,786,816,813,448,384,374,425,...,204,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,73251.0
Maldives,Asia,Southern Asia,Developing regions,0,0,0,1,0,0,0,...,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,90.0
Mongolia,Asia,Eastern Asia,Developing regions,0,0,0,0,0,0,0,...,99,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2856.0
Myanmar,Asia,South-Eastern Asia,Developing regions,80,62,46,31,41,23,18,...,262,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,27735.0
Nepal,Asia,Southern Asia,Developing regions,1,1,6,1,2,4,13,...,1308,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30666.0
Oman,Asia,Western Asia,Developing regions,0,0,0,8,0,0,0,...,11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,672.0
Pakistan,Asia,Southern Asia,Developing regions,978,972,1201,900,668,514,691,...,12603,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,724800.0
Philippines,Asia,South-Eastern Asia,Developing regions,6051,5921,5249,4562,3801,3150,4166,...,29544,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1534173.0
Qatar,Asia,Western Asia,Developing regions,0,0,0,0,0,0,1,...,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,471.0
Republic of Korea,Asia,Eastern Asia,Developing regions,1011,1456,1572,1081,847,962,1208,...,4509,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,427743.0
Saudi Arabia,Asia,Western Asia,Developing regions,0,0,1,4,1,2,5,...,267,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10275.0
Singapore,Asia,South-Eastern Asia,Developing regions,241,301,337,169,128,139,205,...,141,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,43737.0
Sri Lanka,Asia,Southern Asia,Developing regions,185,371,290,197,1086,845,1838,...,2394,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,445074.0
State of Palestine,Asia,Western Asia,Developing regions,0,0,0,0,0,0,0,...,462,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19536.0
Syrian Arab Republic,Asia,Western Asia,Developing regions,315,419,409,269,264,385,493,...,1009,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,94455.0
Tajikistan,Asia,Central Asia,Developing regions,0,0,0,0,0,0,0,...,39,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1509.0
Thailand,Asia,South-Eastern Asia,Developing regions,56,53,113,65,82,66,78,...,400,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,27522.0
Turkey,Asia,Western Asia,Developing regions,481,874,706,280,338,202,257,...,729,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,95343.0
Turkmenistan,Asia,Central Asia,Developing regions,0,0,0,0,0,0,0,...,14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,930.0
United Arab Emirates,Asia,Western Asia,Developing regions,0,2,2,1,2,0,5,...,46,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2508.0
Uzbekistan,Asia,Central Asia,Developing regions,0,0,0,0,0,0,0,...,167,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10104.0
Viet Nam,Asia,South-Eastern Asia,Developing regions,1191,1829,2162,3404,7583,5907,2741,...,2112,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,291438.0
Yemen,Asia,Western Asia,Developing regions,1,2,1,6,0,18,7,...,217,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8955.0

In [67]:
# we can pass multiple criteria in the same line.
# let's filter for AreaNAme = Asia and RegName = Southern Asia

df_can[(df_can['Continent']=='Asia') & (df_can['Region']=='Southern Asia')]

# note: When using 'and' and 'or' operators, pandas requires we use '&' and '|' instead of 'and' and 'or'
# don't forget to enclose the two conditions in parentheses

,Continent,Region,DevName,1980,1981,1982,1983,1984,1985,1986,...,2013,Unnamed: 43,Unnamed: 44,Unnamed: 45,Unnamed: 46,Unnamed: 47,Unnamed: 48,Unnamed: 49,Unnamed: 50,Total
Afghanistan,Asia,Southern Asia,Developing regions,16,39,39,47,71,340,496,...,2004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,175917.0
Bangladesh,Asia,Southern Asia,Developing regions,83,84,86,81,98,92,486,...,3789,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,196704.0
Bhutan,Asia,Southern Asia,Developing regions,0,0,0,0,1,0,0,...,487,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17628.0
India,Asia,Southern Asia,Developing regions,8880,8670,8147,7338,5704,4211,7150,...,33087,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2075712.0
Iran (Islamic Republic of),Asia,Southern Asia,Developing regions,1172,1429,1822,1592,1977,1648,1794,...,11291,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,527769.0
Maldives,Asia,Southern Asia,Developing regions,0,0,0,1,0,0,0,...,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,90.0
Nepal,Asia,Southern Asia,Developing regions,1,1,6,1,2,4,13,...,1308,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30666.0
Pakistan,Asia,Southern Asia,Developing regions,978,972,1201,900,668,514,691,...,12603,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,724800.0
Sri Lanka,Asia,Southern Asia,Developing regions,185,371,290,197,1086,845,1838,...,2394,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,445074.0

**Exercise:** Fetch the data where AreaName is 'Africa' and RegName is 'Southern Africa'. <br>Display the dataframe and find out how many instances are there?

In [69]:
df_can[(df_can['Continent']=='Africa') & (df_can['Region']=='Southern Africa')]

,Continent,Region,DevName,1980,1981,1982,1983,1984,1985,1986,...,2013,Unnamed: 43,Unnamed: 44,Unnamed: 45,Unnamed: 46,Unnamed: 47,Unnamed: 48,Unnamed: 49,Unnamed: 50,Total
Botswana,Africa,Southern Africa,Developing regions,10,1,3,3,7,4,2,...,76,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1188.0
Lesotho,Africa,Southern Africa,Developing regions,1,1,1,2,7,5,3,...,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,321.0
Namibia,Africa,Southern Africa,Developing regions,0,5,5,3,2,1,1,...,83,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,960.0
South Africa,Africa,Southern Africa,Developing regions,1026,1118,781,379,271,310,718,...,1240,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,121704.0
Swaziland,Africa,Southern Africa,Developing regions,4,1,1,0,10,7,1,...,39,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,564.0

<details><summary>Click here for a sample python solution</summary>

```python
    df_can[(df_can['Continent']=='Africa') & (df_can['Region']=='Southern Africa')]
```
</details>

### Sorting Values of a Dataframe or Series <a id="5"></a><br>
You can use the `sort_values()` function is used to sort a DataFrame or a Series based on one or more columns. <br>You to specify the column(s) by which you want to sort and the order (ascending or descending). Below is the syntax to use it:-<br><br>
```df.sort_values(col_name, axis=0, ascending=True, inplace=False, ignore_index=False)```<br><br>
col_nam - the column(s) to sort by. <br>
axis - axis along which to sort. 0 for sorting by rows (default) and 1 for sorting by columns.<br>
ascending - to sort in ascending order (True, default) or descending order (False).<br>
inplace - to perform the sorting operation in-place (True) or return a sorted copy (False, default).<br>
ignore_index - to reset the index after sorting (True) or keep the original index values (False, default).<br>

Let's sort out dataframe df_can on 'Total' column, in descending order to find out the top 5 countries that contributed the most to immigration to Canada.

In [ ]:
df_can.sort_values(by='Total', ascending=False, axis=0, inplace=True)
top_5 = df_can.head(5)
top_5

**Exercise:** Find out top 3 countries that contributes the most to immigration to Canda in the year 2010. <br> Display the country names with the immigrant count in this year

<details><summary>Click here for a sample python solution</summary>

```python
    df_can.sort_values(by='2010', ascending=False, axis=0, inplace=True)
    top3_2010 = df_can['2010'].head(3)
    top3_2010
```
</details>

Congratulations! you have learned how to wrangle data with Pandas. You will be using alot of these commands to preprocess the data before its can be used for data visualization.

### Thank you for completing this lab!


## Author

<a href="https://www.linkedin.com/in/aklson/" target="_blank">Alex Aklson</a>


### Other Contributors
[Jay Rajasekharan](https://www.linkedin.com/in/jayrajasekharan),
[Ehsan M. Kermani](https://www.linkedin.com/in/ehsanmkermani),
[Slobodan Markovic](https://www.linkedin.com/in/slobodan-markovic),
[Weiqing Wang](https://www.linkedin.com/in/weiqing-wang-641640133/),
[Dr. Pooja](https://www.linkedin.com/in/p-b28802262/)


## Change Log


|  Date (YYYY-MM-DD) | Version | Changed By    |  Change Description                   |
|--------------------|---------|---------------|---------------------------------------|
| 2023-06-08         | 2.5     | Dr. Pooja         |  Separated from original lab        |
| 2021-05-29         | 2.4     | Weiqing Wang  |  Fixed typos and code smells.         |
| 2021-01-20         | 2.3     | Lakshmi Holla |  Changed TOC cell markdown            |
| 2020-11-20         | 2.2     | Lakshmi Holla |  Changed IBM box URL                  |
| 2020-11-03         | 2.1     | Lakshmi Holla |  Changed URL and info method          |
| 2020-08-27         | 2.0     | Lavanya       |  Moved Lab to course repo in GitLab   |




## <h3 align="center"> © IBM Corporation 2020. All rights reserved. <h3/>